<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meowketplace</title>
  <link rel="stylesheet" href="../index.css">
</head>
<body>
  <div id="index-box">
    <p id="welcome-line" class="box-item">Welcome to</p>
    <h1 id="title" class="box-item">The Meowketplace!</h1>
    <a href="/placeOrder">
        <button class="box-item" type="button">Place Order</button>
    </a>
      <a href="/viewAllOrders">
        <button class="box-item" type="button">View Past Orders</button>
    </a>
    <img class="box-item" src="../images/cat.png" alt="Cat Image">
  </div>
</body>
</html>