<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Place Order</title>
  <link rel="stylesheet" href="../order.css">
</head>
<body>
  <div>
    <h1>Order Form</h1>
    <form action="/confirmation" method="POST">
      <fieldset>
        <legend>Info</legend>
        Name: <input type="text" name="fullname" required>
        <br>
        Email: <input type="email" name="email" required>
        <br>
        Number: <input type="text" name="number" required>
      </fieldset>

      <fieldset>
        <legend>Toys</legend>
        Toys: 
        <select name="toys" multiple required>
          <option>Mouse toy</option>
          <option>Catnip toy</option>
          <option>Laser pointer</option>
          <option>Scratching post</option>
          <option>Feather wand</option>
        </select>
        <br>
        Quantity: <input type="number" name="quantity" min="1" max="10" required>
        <br>
        Extra Info:
        <br>
        <textarea name="extra-info" cols="50" rows="6"></textarea>
      </fieldset>

      <fieldset>
        <legend>Food</legend>
        Item:
        <select name="items" multiple required>
          <option>Meow Mix</option>
          <option>Meow Mix (Deluxe)</option>
          <option>Pawesome Feast</option>
          <option>Kitty Kibble Krunch</option>
          <option>Meowgic Meals</option>
          <option>Pawtisserie</option>
        </select>
        <br>
        Extra Info:
        <br>
        <textarea name="extra-info" cols="50" rows="6"></textarea>
      </fieldset>

      <button type="submit">Submit</button>
      <button type="reset">Clear</button>
    </form>

    <a href="/"><img src="../images/home_icon.png" href="/" alt="home icon"></a>

  </div>
</body>
</html>