<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Orders</title>
</head>

<body>
    <h1> gedt  them all orders </h1>
        <a href="/"><img src="../images/home_icon.png" href="/" alt="home icon"></a>

</body>